html {
    height: 100%;
    width: 100%;
}

.header {
    display: flex;
    height: 10%;
}

.logos {
    display: flex;
    width: 15%;
    justify-content: center;
    align-items: center;
}

.logo {
    width: 12.5rem;
    height: 2.8rem;
}

.upper-nav {
    display: flex;
    width: 85%;
    justify-content: center;
    align-items: center;
    background: #BDD4EA;
}

.nav_searchbox {
    display: inline-flex;
    border-radius: 50px;
    background: #FCFCFC;
    width: 40%;
    margin: auto;
    height: 56px;
    flex-shrink: 0;
}

.search_logo {
    display: inline-flex;
    width: 24px;
    height: 24px;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 12px;
    flex-shrink: 0;
}

.nav_search_bar {
    display: inline-flex;
    height: 90%;
    width: 80%;
    margin-top: auto;
    margin-bottom: auto;
    padding: 12px;
}

.nav_status {
    width: 10%;
    padding: 12px;
    flex-shrink: 0;
}

.nav_button {
    cursor: pointer;
    display: inline-block;
    width: 50px;
    height: 22px;
    margin-top: auto;
    margin-bottom: auto;
    flex-shrink: 0;
}

.nav_off {
    display: inline-flex;
    color: #484A4F;
    font-family: Montserrat;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    padding: 12px;
    letter-spacing: -0.54px;
}

.nav_live {
    display: inline-flex;
    color: #484A4F;
    font-family: Montserrat;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    padding: 12px;
    letter-spacing: -0.54px;
}

.nav_language_box {
    display: inline-flex;
    padding: 17px 30px 16px 43px;
    justify-content: flex-end;
    align-items: center;
    gap: 23px;
    border-radius: 50px;
    border: 1px solid rgba(72, 74, 79, 0.73);
}

.nav_language_select {
    color: #484A4F;
    text-align: center;
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: -0.48px;
}

.nav_notice {
    width: 10%;
    padding: 12px;
    margin: auto;
    flex-shrink: 0;
}

.nav_notice_button {
    width: 32px;
    height: 32px;
    margin: auto;
    flex-shrink: 0;
}

.modal_notice {
    display: flex;
    align-items: center;
    flex-direction: column;
    border-radius: 20px;
    width: 500px;
    height: 200px;
}

.nav_login {
    display: inline-flex;
    width: 20%;
    padding: 12px;
    flex-shrink: 0;
}

.nav_avatar {
    display: flex;
    width: 45px;
    height: 45px;
    flex-shrink: 0;
}

.nav_data {
    display: flex;
    align-items: center;
    flex-direction: column;
    vertical-align: middle;
}

.nav_nickname {
    display: block;
    color: #604D4D;
    font-family: Montserrat;
    font-size: 12px;
    height: 22px;
    float: left;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.nav_ID {
    display: block;
    color: #604D4D;
    font-family: Montserrat;
    font-size: 12px;
    height: 22px;
    float: left;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.nav_profile_button {
    padding: 6px 3px;
    float: right;
    width: 24px;
    height: 24px;
    margin-top: auto;
    margin-bottom: auto;
    flex-shrink: 0;
    margin-left: 30px;
}

.side-nav {
    display: flex;
    flex-direction: column;
    width: 15%;
    background: #BDD4EA;
}

.nav_menu {
    color: #484A4F;
    font-family: Montserrat;
    font-size: 32px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    letter-spacing: -1.28px;
    padding: 6px 0 6px 36px;
}

.nav_submenu {
    color: #484A4F;
    font-family: Montserrat;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding: 18px 0 18px 18px;
}

.nav-box {
    padding: 18px 0 18px 24px;
    align-items: center;
}

.nav_logo {
    display: inline-flex;
    justify-content: center;
    padding: 6px;
}

.nav_data {
    display: inline-flex;
    justify-content: center;
    padding: 6px;
    flex-shrink: 0;
}

.nav_dash {
    display: inline-flex;
    float: right;
    padding: 6px 12px 0 6px;
    color: #444;
    text-align: center;
    font-family: "Font Awesome 5 Free";
    font-style: normal;
    font-weight: 900;
}

.show-menu {
    width: 350px;
    position: absolute;
    top: 10%;
    height: max-content;
    right: 0px;
    transition: 0.5s;
    z-index: 99;
}

.hide-menu {
    width: 350px;
    position: absolute;
    top: 10%;
    height: max-content;
    right: -350px;
    transition: 0.5s;
    z-index: 99;
}

.nav_profile_container {
    width: 100%;
    height: 100%;   
    border: 1px solid #4A4A4A;
    background: #FFF;
}

.nav_profile_image {
    display: flex;
    width: 100%;
    height: 30%;
    padding: 6px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.nav_profile_avatar {
    height: 110px;
    padding: 4px;
    flex-shrink: 0;
}

.nav_profile_name {
    color: #604D4D;
    font-family: Montserrat;
    padding: 6px;   
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.nav_profile_id {
    color: #604D4D;
    font-family: Montserrat;
    padding: 6px;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.nav_profile_divider {
    display: flex;
    margin: auto;
    width: 95%;
    height: 1px;
    background: #E8E8E8;
}

.nav_profile_divider1 {
    display: flex;
    margin: auto;
    width: 95%;
    height: 1px;
    background: #3371EB;
}
.nav_profile_holder {
    padding: 3px;
    gap: 2px;
}
.nav_profile_holder_header {
    padding: 12px;
    color: #1C1C1C;
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-align: left;
}

.nav_profile_holder_data {
    padding: 6px;
    margin-left: 50px;
    color: #1C1C1C;
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-align: left;
}