.c_image {
    aspect-ratio : 1.19;
    width: 69px;
}
.mt_4{
    margin-top: 4px;
}

.flex_col{
    display: flex;
    flex-direction: column;
}

.flex_col1{
    display: flex;
    flex-direction: column;
    flex: 1 1 0%;
}

.calendar_memo{
  display: block;

}
.time{
    flex-grow: 1; 
    align-self: flex-start;
    font-size: 0.875rem; /* 14px */
    line-height: 1.25rem; /* 20px */ 
    white-space: nowrap;
    color: rgb(63 63 70);
}

.calendar-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.calendar-app {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .react-calendar {
    font-size: 20px;
    width: 1200px;
    height: 750px;
    margin: 0 auto;
    border: 1px solid #ddd; 
    border-radius: 8px; 
    overflow: hidden; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
  }

  
  
  
  .react-calendar__tile {
    display: flex;
    text-align: left;
    width: 200px;
    height: 138px;
    border: 1px solid #eee; 
    font-size: 20px;
  }
  
  .react-calendar__tile--active {
    background: #8FB0C6;
  }
  
  .memo-display p {
    font-size: 7px;
    margin: 0; 
  }
  
  
  .calendar-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .memo-container {
    background: white;
    padding: 20px;
    width: 300px;
  }
  
  .memo-editor {
    margin-bottom: 20px;
  }
  
  .memo-display {
    margin-top: 20px;
  }
  
  textarea {
    width: 100%;
    height: 100px;
  }
  
  .modal-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
  }
  
  .memo-content {
    position: relative;
  }
  .memo-count{
    
    bottom: -20px; /* 숫자가 밑으로 이동할 위치 조정 */
    left: 50%; /* 숫자를 가운데로 이동 */
    transform: translateY(150%);
    font-size: 18px; /* 숫자의 크기 조정 */
    color: black;
  }
  
  .memo-count::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #00ff00; /* 형광빛 색상 */
    z-index: -1; /* 숫자 뒤로 보내기 */
  }
  
