html {
    height: 100%;
    width: 100%;
}

.header {
    display: flex;
    height: 10%;
}

.logos {
    display: flex;
    width: 15%;
    justify-content: center;
    align-items: center;
}

.logo {
    margin: 0 auto;
    width: 12.5rem;
    height: 2.74388rem;
}

.upper-nav {
    display: flex;
    width: 85%;
    justify-content: center;
    align-items: center;
    background: #BDD4EA;
}

.nav_searchbox {
    display: inline-flex;
    border-radius: 50px;
    background: #FCFCFC;
    width: 40%;
    margin: auto;
    height: 56px;
    flex-shrink: 0;
}

.search_logo {
    display: inline-flex;
    width: 24px;
    height: 24px;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 12px;
    flex-shrink: 0;
}

.nav_search_bar {
    display: inline-flex;
    height: 90%;
    width: 80%;
    margin-top: auto;
    margin-bottom: auto;
    padding: 12px;
}

.nav_status {
    width: 10%;
    padding: 12px;
    flex-shrink: 0;
}

.nav_button {
    cursor: pointer;
    display: inline-block;
    width: 50px;
    height: 22px;
    margin-top: auto;
    margin-bottom: auto;
    flex-shrink: 0;
}

.nav_off {
    display: inline-flex;
    color: #484A4F;
    font-family: Montserrat;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    padding: 12px;
    letter-spacing: -0.54px;
}

.nav_live {
    display: inline-flex;
    color: #484A4F;
    font-family: Montserrat;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    padding: 12px;
    letter-spacing: -0.54px;
}

.nav_language_box {
    display: inline-flex;
    padding: 17px 30px 16px 43px;
    justify-content: flex-end;
    align-items: center;
    gap: 23px;
    border-radius: 50px;
    border: 1px solid rgba(72, 74, 79, 0.73);
}

.nav_language_select {
    color: #484A4F;
    text-align: center;
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: -0.48px;
}

.nav_notice {
    width: 10%;
    padding: 12px;
    margin: auto;
    flex-shrink: 0;
}

.nav_notice_button {
    width: 32px;
    height: 32px;
    margin: auto;
    flex-shrink: 0;
}

.modal_notice {
    display: flex;
    align-items: center;
    flex-direction: column;
    border-radius: 20px;
    width: 500px;
    height: 200px;
}

.nav_login {
    display: inline-flex;
    width: 20%;
    padding: 12px;
    flex-shrink: 0;
}

.nav_avatar {
    display: flex;
    width: 45px;
    height: 45px;
    flex-shrink: 0;
}

.nav_data {
    display: flex;
    align-items: center;
    flex-direction: column;
    vertical-align: middle;
}

.nav_nickname {
    display: block;
    color: #604D4D;
    font-family: Montserrat;
    font-size: 12px;
    height: 22px;
    float: left;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.nav_ID {
    display: block;
    color: #604D4D;
    font-family: Montserrat;
    font-size: 12px;
    height: 22px;
    float: left;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.nav_profile_button {
    padding: 6px 3px;
    float: right;
    width: 24px;
    height: 24px;
    margin-top: auto;
    margin-bottom: auto;
    flex-shrink: 0;
    margin-left: 30px;
}

.main {
    display: flex;
    height: 90%;
}

.side-nav {
    display: flex;
    flex-direction: column;
    width: 15%;
    height: 100%;
    background: #BDD4EA;
}

.nav_menu {
    color: #484A4F;
    font-family: Montserrat;
    font-size: 32px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    letter-spacing: -1.28px;
    padding: 6px 0 6px 36px;
}

.nav_submenu {
    color: #484A4F;
    font-family: Montserrat;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding: 18px 0 18px 18px;
}

.nav-box {
    padding: 18px 0 18px 24px;
    align-items: center;
}

.nav_logo {
    display: inline-flex;
    justify-content: center;
    padding: 6px;
}

.nav_data {
    display: inline-flex;
    justify-content: center;
    padding: 6px;
    flex-shrink: 0;
}

.nav_dash {
    display: inline-flex;
    float: right;
    padding: 6px 12px 0 6px;
    color: #444;
    text-align: center;
    font-family: "Font Awesome 5 Free";
    font-style: normal;
    font-weight: 900;
}

.body {
    display: flex;
    width: 85%;
    flex-direction: column;
}

.body_title {
    display: flex;
    width: 600px;
    height: 75px;
    margin: 25px 0 0 115px;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
    color: #444;
    font-family: Krub;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.body_button {
    display: flex;
    margin: 50px 0 0 115px;
    width: 220px;
    height: 60px;
    flex-shrink: 0;
    border-radius: 70px;
    background: #002761;
    box-shadow: -4px 4px 8px 0px rgba(87, 72, 255, 0.23) inset, 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.body_button_add_box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    width: 44px;
    margin-left: 6px;
}

.body_button_add {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 44px;
    height: 44px;
    flex-shrink: 0;
    background-color: white;
    border-radius: 44px;
    fill: #FFFEF9;
    filter: drop-shadow(3px 3px 8px #DFE4FF) drop-shadow(-4px -4px 30px rgba(255, 255, 255, 0.50));
}

.body_button_add_image {
    width: 20px;
    height: 20px;
    margin-left: 12px;
    justify-content: center;
    flex-shrink: 0;
}

.body_button_data {
    display: flex;
    width: 152px;
    height: 60px;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
    color: #FFF;
    text-align: center;
    font-family: Krub;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.body_filter_box {
    display: flex;
    position: relative;
    justify-content: center;
    top: 2%;
    left: 80%;
    width: 103px;
    height: 43px;
    padding: 4px;
    align-items: center;
    gap: 4px;
    flex-shrink: 0;
    border: 2px black;
}

.body_filter {
    color: #000;
    font-family: Poppins;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
}

.body_table {
    display: flex;
    flex-direction: column;
    position: relative;
    top: 5%;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    height: 60%;
    flex-shrink: 0;
    border-radius: 20px;
    border: 1px solid rgba(0, 0, 0, 0.25);
    background: #FFFEF9;
}

.body_table_topbar {
    display: flex;
    align-items: center;
    padding: 5px;
    gap: 10px;
    width: 100%;
    height: 10%;
    border-radius: 20px 20px 0px 0px;
    border: 1px solid rgba(0, 0, 0, 0.25);
    background: rgba(0, 39, 97, 0.93);
}

.body_table_topbar_data {
    width: 10%;
    padding: 5px;
    color: #FFF;
    font-family: Poppins, sans-serif;
    flex-grow: 1;
    flex-basis: auto;
}

.body_table_topbar_data1 {
    padding: 5px;
    color: #FFF;
    font-family: Poppins, sans-serif;
    flex-grow: 0.5;
    flex-basis: auto;
}

.body_table_data {
    display: flex;
    align-items: center;
    padding: 5px;
    gap: 10px;
    width: 100%;
    height: 12%;
}
.body_table_data_divider {
    width: 100%;
    height: 1px;
    background:rgba(0, 0, 0, 0.25);
}
.body_table_data_num {
    padding: 5px;
    color: #000;
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    flex-grow: 0.5;
    flex-basis: auto;
}

.body_table_data_mission {
    width: 10%;
    padding: 5px;
    color: #000;
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    flex-grow: 1;
    flex-basis: auto;
}

.body_table_data_detail {
    width: 10%;
    padding: 5px;
    color: #000;
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    flex-grow: 1;
    flex-basis: auto;
}

.body_table_data_check {
    width: 10%;
    padding: 5px;
    color: #000;
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    flex-grow: 1;
    flex-basis: auto;
}

.body_table_data_checkbox {
    width: 56px;
    height: 56px;
    flex-shrink: 0;
    border-radius: 18px;
    border: 5px solid #002761;
}

input[type="checkbox"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: #fff;
    cursor: pointer;
}

input[type="checkbox"]::after {
    width: 56px;
    height: 56px;
    flex-shrink: 0;
    border-radius: 18px;
    border: 5px solid #002761;
}

input[type="checkbox"]:checked {
    background-color: #6FCF97;
    border-color: #6FCF97;
}

input[type="checkbox"]:checked::after {
    display: block;
}